appender.A1.fileName={{ splunk_logs }}/splunkd.log
appender.license_usage.fileName={{ splunk_logs }}/license_usage.log
appender.A4.fileName={{ splunk_logs }}/searchhistory.log
appender.metrics.fileName={{ splunk_logs }}/metrics.log
appender.audittrail.fileName={{ splunk_logs }}/audit.log
appender.licenseaudit.fileName={{ splunk_logs }}/license_audit.log
appender.accesslog.fileName={{ splunk_logs }}/splunkd_access.log
appender.scheduler.fileName={{ splunk_logs }}/scheduler.log
appender.remotesearches.fileName={{ splunk_logs }}/remote_searches.log
