[Unit]
Description=JDs pg-beta_backup NFS mount service
After=network.target

[Mount]
What={{ pg_beta_backup['nfs_server'] }}:{{ pg_beta_backup['nfs_share'] }}
Where={{ pg_beta_backup['mount_point'] }}
Type=nfs4
Options={{ pg_beta_backup['nfs_options'] }}
TimeoutSec=60

[Install]
WantedBy=multi-user.target
